In [0]:
from fastai.collab import *
import pandas as pd
import pprint

pp = pprint.PrettyPrinter(depth=4)

Made with help from https://towardsdatascience.com/collaborative-filtering-with-fastai-3dbdd4ef4f00

In [0]:
ratings = pd.read_csv('yelpCategoryAverage.csv', header=1)

In [0]:
# ratings.columns
# new_ratings = pd.DataFrame
categories = list(ratings.columns)
categories.remove('state')
states = list(ratings['state'])
# print(states)

data = {"state": [], "cat": [], "rating": []}


for state in states:
    for cat in categories:
        data["cat"].append(cat)
        data["state"].append(state)
        # print(ratings.loc[ratings["state"] == state, cat])
        data["rating"].append( ratings.loc[ratings["state"] == state, cat].iloc[0] )

new_ratings = pd.DataFrame(data)

Let's test this out for a specific state.

In [35]:
new_ratings.loc[new_ratings['state'] == 'OH']

     state                     cat      rating
2583    OH                  Afghan    4.320896
2584    OH                 African    3.578397
2585    OH          American (New)    0.000000
2586    OH  American (Traditional)    0.000000
2587    OH                 Arabian    4.315789
...    ...                     ...         ...
2701    OH              Vegetarian    4.040445
2702    OH              Vietnamese    3.937415
2703    OH                 Waffles    4.007648
2704    OH                   Wraps    3.657298
2705    OH                   Total  392.111137

[123 rows x 3 columns]

Now to build the colab Filtering model

In [37]:
data = CollabDataBunch.from_df(new_ratings, seed=42, valid_pct=0.1, user_name='state', item_name='cat', rating_name='rating')
data.show_batch()